<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm">
            <div class="row">
                <div class="col-xs-12">
                    <button 
                        type="submit" 
                        class="btn btn-success"
                        [disabled]="!recipeForm.valid || recipeForm.pristine" 
                        (click)="onAddRecipe()">{{index >= 0 ? 'Update' : 'Save'}}</button>
                    <button type="button" class="btn btn-primary" (click)="onReset()">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Recipe Name<span style="color:red">*</span></label>
                        <input 
                            formControlName="name" 
                            type="text" 
                            id="name" 
                            class="form-control" 
                            [class.is-invalid]="recipeName.invalid && recipeName.touched"
                            placeholder="Recipe Name...">
                        <div *ngIf="recipeName.invalid && recipeName.touched">
                            <small class="danger" *ngIf="recipeName.errors.required">Please add a name of the recipe</small>
                            <small class="danger" *ngIf="recipeName.errors.duplicateName">Recipe Name already exist</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imgUrl">Image Path</label>
                        <input formControlName="imagePath" type="text" id="imgUrl" class="form-control" placeholder="Image path...">
                    </div>
                </div>
            </div>
            <div *ngIf="recipeImage.value" class="row">
                <div class="col-xs-12">
                    <img 
                        [src]="recipeImage.value" 
                        alt="recipe image" 
                        class="img-responsive" 
                        height="15%" 
                        width="15%">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="desc">Description</label>
                        <textarea 
                            formControlName="description"
                            type="text" 
                            id="desc" 
                            rows="6"
                            class="form-control" 
                            placeholder="Description..."></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label >Ingredients</label>
                        <div class="row">
                            <div class="col-xs-12">
                                <a style="cursor: pointer;" (click)="onAddIngredients()">Add Ingredients</a>
                            </div>
                        </div>
                        <div formArrayName="ingredients">
                            <div *ngFor="let ingredient of ingredients.controls;let i=index">
                                <div class="row" [formGroupName]="i">
                                    <div class="col-xs-6">
                                        <label>Name<span style="color:red">*</span></label>
                                        <input formControlName="name" type="text" class="form-control" placeholder="Ingredients">
                                    </div>
                                    <div class="col-xs-2">
                                        <label>Amount<span style="color:red">*</span></label>
                                        <input formControlName="amount" type="number" class="form-control" placeholder="Amount">
                                    </div>
                                    <div class="col-xs-2">
                                        <label>Unit<span style="color:red">*</span></label>
                                        <select formControlName="unit" class="form-control">
                                            <option *ngFor="let unit of units" [value]="unit">{{unit}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <label>Remove</label>
                                        <button type="button" class="btn btn-danger" (click)="onRemoveingredient(i)">X</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>