<div class="row">
    <div class="col-xs-12">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <div class="col-xs-5">
            <ul class="list-group">
                <a 
                    class="list-group-item" 
                    style="cursor: pointer;" 
                    *ngFor="let item of ingredients;let i=index"
                    (click)="onClickItem(i);">
                    {{item.name}} ({{item.amount}} {{item.unit}})
                </a>
            </ul>
        </div>
    </div>
</div>