body{
    background-image: url(https://cdn.pixabay.com/photo/2017/02/15/10/39/salad-2068220_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 70px;
}

.center_div{
    padding: 3%;
    margin: 0 auto;
    width:400px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    vertical-align: middle;
}

button{
    margin: 15px;
    float: right;
}

a{
    cursor: pointer;
}
