<body>
    <div class="container-fluid mb-5 center_div">
        <h2><b>Verify the email id</b></h2>
        <form [formGroup]="verifyUserForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    formControlName="email"
                    type="email" 
                    id="email" 
                    class="form-control" 
                    placeholder="Enter Email">
            </div>
            <div class="form-group">
                <label for="question">Security Question</label>
                <select formControlName="question" class="form-control" id="question">
                    <option *ngFor="let question of securityQuestion" [value]="question">{{question}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="answer">Answer</label>
                <input 
                    formControlName="answer"
                    type="text" 
                    id="answer" 
                    class="form-control" 
                    placeholder="Enter your answer">
            </div>
            <div class="row">
                <button class="btn btn-success" type="submit">Verify</button>
            </div>
        </form>
    </div>
</body>
